<%- include('layout/header') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow bg-success">
                <div class="card-header bg-primary">
                    <h5 class="text-light">Kullanıcı Düzenle <% user.name %></h5>
                </div>
                <div class="card-body p-4">
                    <form action="/edit-user/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter Name" required value="<%= user.name %>" />
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter Email" required value="<%= user.email %>" />
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone</label>
                            <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Enter Phone" required value="<%= user.phone %>">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input type="file" name="image" class="form-control form-control-lg" required/>
                            <img src="/uploads/<%= user.image %>" alt="<%= user.name %>" class="img-fluid rounded-circle mt-2" style="width: 100px; height: 100px;">
                        </div>
                        <input type="hidden" name="oldImage" value="<%= user.image %>" />
                        <div class="mb-3">
                            <input type="submit" name="submit" value="Update User" class="btn btn-success btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>
